/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	powa
 * file: 	_header.scss
 * Date: 	18/02/2021
 * Time: 	18:08
 */

@import "variables";

header {
	background:     transparentize($cWhite, .95);
	border-bottom:  1px solid transparentize($cWhite, .80);
	text-align:     center;
	text-transform: uppercase;
	letter-spacing: .6rem;
	color:          $cWhite;
	height:         3rem;
	
	h3 {font-size: 1rem !important;}
	
	img { opacity: .2; }
	
	.right img {
		transform: rotateZ(180deg);
	}
}
