/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	powa
 * file: 	_variables.scss
 * Date: 	28/01/2021
 * Time: 	21:06
 */

$cWhite: #FFF;
$cAccent1: #175086;
$cAccent2: #00A3AC;
$cAccent3: #FBAF5D;