/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	powa
 * file: 	default.scss
 * Date: 	28/01/2021
 * Time: 	20:43
 */

@import "variables";

#default {
	//background: #2C3E50;
	.mode {
		max-height: 10rem;
		min-height: 10rem;
		max-width: 10rem;
		min-width: 10rem;
		margin: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		background:     transparentize($cWhite, .95);
		border:  1px solid transparentize($cWhite, .80);
		border-radius: .3rem;
		color:          $cWhite;
		
		&:hover, &:active{
			text-decoration: none;
			cursor: pointer;
			background:     transparentize($cWhite, .85);
			border-color: $cAccent3;
		}
	}
}